body {
   background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    background: url(img/variedade\ iphones.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 70px;
    
}

.nome{
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 55px;
    text-align: center;
}

.logo{
    border-radius: 50%;
    width: 200px;
    aspect-ratio: 1/1;
    object-fit:cover;
    float:left;
    position:relative;
    left: 3%;
    top: 12px;
}

h1 {
    margin: 0;
}

h2{
    font-size: 50px;
    padding: 10px;
    text-align: center;
}

h3{
    font-size: 20px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
  
.product {
    width: 300px;
    margin: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
    height: 450px;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.87);
    background-color: #fff;
}

.product img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.botao{
    width: 62%;
    font-size: 20px;
    padding: 10px 0;
    border-radius: 30px;
    border: none;
    cursor:pointer;
    transition: all .4s ease-in-out;
}

.botao:hover{
    transform: scale(1.1);
    background-color:rgb(0, 0, 0);
    color: white;  
}
  
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    height: 100px;
    line-height: 23px;
    text-align: center;
}

#myDiv{
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.87);
    padding: 30px;
    margin: 20px; 
    position:absolute; 
    left: 50%;
    top: 50%; 
    width: 700px; 
    height: 700px; 
    margin-left: -390px; 
    margin-top:-120px;
}

.pagamento{
    font-size: 30px;
}

.campo-email{
    margin: 10px;
    position: relative;
}

.campo-email i{
    top: 10px;
    right: 6px;
}

.endereco{
    text-align: start;

}

textarea {
    align-items: center;
    background-color: #fff;
    color: black;
}

.informacao{
    text-align: start;
}